<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title"><%= "Add teacher to " + @course_subject.subject_name  %></h4>
</div>
<div class="modal-body">
  <div class="row">
    <h3 style="margin-left: 15%;">Professors:</h3>
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <table class="table-striped table">
        <thead>
        <th></th>
        <th>Name</th>
        <th>Action</th>
        </thead>
        <tbody>
        <% @professors.each do |professor| %>
            <tr>
              <td> <%= image_tag professor.picture.url, size: "100x100", alt: professor.first_name ,class: "img-responsive" if !professor.picture.file.nil? %></td>
              <td><%= professor.first_name + " " + professor.last_name %></td>
              <td><%= link_to "Add Professor", course_subjects_path(course_id:@course_subject.course, subject_id: @course_subject.subject ,professor_id: professor.id) ,method: :post, class: "btn btn-success btn-sm mt-50" %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div> <!-- END OF MODAL BODY -->
