<div class="row">
  <h2>Create new Student</h2>
  <%= render 'shared/errors', obj: @student %>
  <div class="col-md-8">
    <%= render 'students/form', obj: @student %>
  </div>
  <div class="col-md-offset-4"></div>
</div>
