<div class="row">
  <%= render 'shared/errors', obj: @professor %>
  <h2>Create new Professor</h2>
  <div class="col-md-8">
    <%= render 'shared/student-professor-form', obj: @professor %>
  </div>
  <div class="col-md-offset-2"></div>
</div>